.title-screen {
    display: grid;
    place-items: center;
    height: 70vh;
}

.title-content {
    text-align: center;
}

h1 {
    font-size: 90px;
    color:blanchedalmond;
    text-shadow: 1px 1px 3px rgba(99, 99, 99, 0.8);
}

h2 {
    font-size: 90px;
    color:blanchedalmond;
    text-shadow: 1px 1px 3px rgba(99, 99, 99, 0.8);
}

p {
    font-size: 50px;
    color:blanchedalmond;
    text-shadow: 1px 1px 3px rgba(99, 99, 99, 0.8); 
}

.character-creation button,
.title-screen button {
    padding: 14px 36px;
    font-family: 'Cinzel', serif;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;

    background: #1a1510;
    color: #f1d280;
    border: 2px solid #d4af37;
    border-radius: 4px;

    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0px 0px 10px rgba(212, 175, 55, 0.2);
}

.character-creation-content input[type="text"]:hover,
.character-creation button:hover,
.title-screen button:hover {
    color: #ffffff;
    background: #2a2015;
    border-color: #fff1c5;
    box-shadow: 0px 0px 20px rgba(212, 175, 55, 0.6);
    text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.5);
}

.character-creation-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.character-creation-content input[type="text"] {
    margin-bottom: 12px;
}

.character-creation-content input[type="text"] {
    padding: 12px 20px;
    font-family: 'Cinzel', serif;
    font-size: 1.1rem;
    text-align: center;
    
    background: #1e1a15;
    color: #f1d280;
    border: 2px solid #5c4a37;
    border-radius: 4px;
    outline: none;
    
    transition: all 0.3s ease;
    width: 250px;
}


.character-creation-content input[type="text"]:focus {
    border-color: rgb(212, 175, 53, .8);
    box-shadow: 0px 0px 10px rgba(212, 175, 55, 0.3);
}
