/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Cinzel', serif;
    background-image: url('/lightMode.png');
    --safe-top: env(safe-area-inset-top, 0px);    
    --safe-bottom: env(safe-area-inset-bottom, 0px);
    --sheet-h: 68px;
}

body.light-bg {
    --text-color: black;
    --invert-color: white;
    --text-box-bg: #75673c;
    background-image: url('/lightMode.png');
}

body.dark-bg {
    --text-color: white;
    --invert-color: black;
    --text-box-bg: #574c2c;
    background-image: url('/darkMode.png');
}